// Generic styling.
html {
    font-size: $font-size;
    color: $font-color;
}

* {
    margin: 0;
    box-sizing: border-box;
    color: inherit;
}

// Everything that is displayable should be within the current viewport. Scroll everything else.
body {
    overflow: auto;
    background: url(/img/background.gif) no-repeat;
    background-size: cover;
}

.projection {
    transition: 0.2s all;

    @media all and (max-width: 1279px) {
        background-color: rgba(24, 16, 37, 0.9);
    }

    .content {
        transition: 0.2s all;

        @media all and (min-width: 767px) {
            box-shadow: 0px 0px 5px 10px #3D275E;
            background-color: rgba(24, 16, 37, 0.9);
        }

        /* width */
        &::-webkit-scrollbar, *::-webkit-scrollbar {
            width: 5px;
        }

        /* Track */
        &::-webkit-scrollbar-track, *::-webkit-scrollbar-track {
            background: transparent;
        }

        /* Handle */
        &::-webkit-scrollbar-thumb, *::-webkit-scrollbar-thumb {
            background: transparent;
        }

        /* Handle on hover */
        &::-webkit-scrollbar-thumb:hover, *::-webkit-scrollbar-thumb:hover {
            background: #290C43;
        }

        &:hover, *:hover {
            &::-webkit-scrollbar-thumb {
                background: #623589
            }
        }
    }
}