// Generic styling.
html {
    font-size: $font-size;
    color: $font-color;
}

* {
    margin: 0;
    box-sizing: border-box;
    color: inherit;
}

// Everything that is displayable should be within the current viewport. Scroll everything else.
body {
    overflow: auto;
    background: url(/img/background.gif) no-repeat;
    background-size: cover;
}