.background {
  &-primary {
      background-color: $primary-color;

      &.background-darkened {
          background-color: adjust-color($color: $primary-color, $hue: 0, $saturation: 0%, $lightness: 0%, $alpha: -0.1);
      }
  }

  &-secondary {
      background-color: $secondary-color;

      &.background-darkened {
          background-color: adjust-color($color: $secondary-color, $hue: 0, $saturation: 0%, $lightness: 0%, $alpha: -0.1);
      }
  }

  &-tiertary {
      background-color: $tiertary-color;

      &.background-darkened {
          background-color: adjust-color($color: $tiertary-color, $hue: 0, $saturation: 0%, $lightness: 0%, $alpha: -0.1);
      }
  }
}

.triangle {
  > * {
    border: 1px solid;
    position: relative;
    width: 50px;

    &:first-child {
      transform: rotate(45deg);
      left: 7.5px;
    }

    &:nth-child(2) {
      transform: rotate(-45deg);
      right: 7.5px;
    }
  }

  &.triangle-s {
    > * {
      width: 40px;

      &:first-child {
        left: 6px;
      }

      &:nth-child(2) {
        right: 6px;
      }
    }
  }

  &.triangle-xs {
    > * {
      width: 30px;

      &:first-child {
        left: 4.5px;
      }

      &:nth-child(2) {
        right: 4.5px;
      }
    }
  }
}

img {
  object-fit: cover;

  &.icon {
    width: 32px;
    height: 32px;

    &-l {
      width: 48px;
      height: 48px;
    }
  }
}

.border {
  &-primary {
    border-color: $primary-color;
  }
}

.hover\: {
  &background-tiertiary {
    &:hover {
      background-color: $tiertary-color;
    }
  }

  &mask:hover {
    background-color: adjust-color($color: $tiertary-color, $hue: 0, $saturation: 0%, $lightness: 0%, $alpha: -0.1);

    > * {
      opacity: 0.5;
    }
  }

  &border-primary:hover {
    border: 1px solid $primary-color;
  }

  &blur:hover {
    filter: blur(5px);
  }
}

.mask {
  > * {
    opacity: 0.5;
  }

  &-light {
    opacity: 0.75;
  }
}

.text-shadow {
  &-darkened  {
    text-shadow: 5px 5px 5px black;
  }
}

.self {
  &-baseline {
    align-self: baseline;
  }
}

.content {
  &-evenly {
    align-content: space-around;
    align-content: space-evenly;
  }
}

.absolute {
  &-center {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    &-y {
      top: 50%;
      transform: translateY(-50%);
    }

    &-x {
      left: 50%;
      transform: translateX(-50%);
    }
  }
}

.rounded {
  &-xxl {
    border-radius: 2rem;
  }
}