.markdown-body {
    font-family: 'PT Mono', monospace;

    a {
        color: #dbab00;
        text-decoration: underline;
    }

    ol {
        list-style-type: decimal!important;
    }

    ul {
        list-style-type: disc!important;
    }
}

.bm-burger-bars {
    background-color: $primary-color!important;
    box-shadow: 5px 5px 5px $secondary-color;
}