.force-fullwidth {
    width: 100%!important;
}

.margin {
    &--auto {
        margin: auto;
    }

    &--top {
        margin-top: 1rem;
    }

    &--bottom {
        margin-bottom: 1rem;
    }

    &--center {
        margin-left: auto;
        margin-right: auto;
    }

    &--none {
        margin: 0;
    }
}