@font-face {
    font-family: "PressStart2P";
    src: url("/fonts/PressStart2P.ttf") format("truetype")
}

@font-face {
    font-family: 'PT Mono';
    src: url("/fonts/PTMono-Regular.ttf") format("truetype")
}

body {
    font-family: 'PT Mono', monospace;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: 'PressStart2P', monospace;
    color: $font-color;
    text-shadow: 5px 5px 5px $shadow-color;
}

h1, .h1 {
    font-size: xx-large;

    &.title {
        font-size: 3rem;
    }
}

h2, .h2 {
    font-size: x-large;
}

h3, .h3 {
    font-size: large;
}

a:not(.button) {
    color: $primary-color;
    transition: 0.5s all;

    &:hover {
        text-shadow: 3px 3px 3px $secondary-color;
    }
}

p {
    word-break: break-word;
    word-wrap: break-word;
}