@font-face {
    font-family: "PressStart2P";
    src: url("/fonts/PressStart2P.ttf") format("truetype"),
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'PressStart2P', monospace;
    color: $font-color;
    text-shadow: 5px 5px 5px $shadow-color;
}

h1 {
    font-size: xx-large;

    &.title {
        font-size: 3rem;
    }
}

h2 {
    font-size: x-large;
}

h3 {
    font-size: large;
}

.background {
    &-primary {
        background-color: $primary-color;

        &.background-darkened {
            background-color: adjust-color($color: $primary-color, $hue: 0, $saturation: 0%, $lightness: 0%, $alpha: -0.1);
        }
    }

    &-secondary {
        background-color: $secondary-color;

        &.background-darkened {
            background-color: adjust-color($color: $secondary-color, $hue: 0, $saturation: 0%, $lightness: 0%, $alpha: -0.1);
        }
    }

    &-tiertary {
        background-color: $tiertary-color;

        &.background-darkened {
            background-color: adjust-color($color: $tiertary-color, $hue: 0, $saturation: 0%, $lightness: 0%, $alpha: -0.1);
        }
    }
}