@font-face {
    font-family: "PressStart2P";
    src: url("/fonts/PressStart2P.ttf") format("truetype"),
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'PressStart2P', monospace;
    color: $font-color;
    text-shadow: 5px 5px 5px $shadow-color;
}

h1 {
    font-size: xx-large;

    &.title {
        font-size: 3rem;
    }
}

h2 {
    font-size: x-large;
}

h3 {
    font-size: large;
}