.layout-enter-active, .layout-leave-to {
  transition: opacity .3s ease;
}
.layout-enter, .layout-leave-to {
  opacity: 0;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .3s ease;
}
.fade-enter, .fade-leave-to
  /* .component-fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}

.list-enter-active, .list-leave-active {
  transition: all 1s;
}
.list-enter, .list-leave-to /* .list-leave-active below version 2.1.8 */ {
  opacity: 0;
  transform: translateY(30px);
}

.slide-enter-active,
.slide-leave-active {
  transition: transform 0.2s ease;
}

.slide-enter,
.slide-leave-to {
  transform: translateX(-100%);
  transition: all 150ms ease-in 0s;
}

.slide-vert-enter-active,
.slide-vert-leave-active {
  transition: all 0.1s ease-in-out 0s;
}

.slide-vert-enter,
.slide-vert-leave-to {
  max-height: 0;
  padding: 0;
  border: 0;
}